<% if @bands.any? %>
  <h2 class="text-center">Bands/Musicians:</h2>
  <ul class="list-unstyled text-center">
    <% @bands.each() do |band| %>
      <li class="text-center"><a href="/bands/<%= band.id() %>"><h2><%= band.name() %></h2></a></li>
    <% end %>
  </ul>
<% else %>
  <h2 class="text-center">Enter a band to get started:</h2>
<% end %>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <form action="/bands" method="post" class="form-group">
      <input type="text" name="name" placeholder="Enter Band/Musician Name" class="form-control" autofocus>
      <br>
      <button type="submit" class="btn btn-success">Add Band</button>
      <button type="reset" class="btn btn-danger">Reset</button>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>
